/* font: import ================================================ */
@font-face {
  font-family: 'ReadyActive-light';
  src: url('./font/ReadyActiveTest-Light.woff2') format('woff2');
  src: url('./font/ReadyActiveTest-Light.woff') format('woff');
}

@font-face {
  font-family: 'FKGroteskMonoTrial-Regular';
  src: url('./font/FKGroteskMonoTrial-Regular.woff2') format('woff2');
  src: url('./font/FKGroteskMonoTrial-Regular.woff') format('woff');
}

@font-face {
  font-family: 'FKGroteskSemiMonoTrial-Regular';
  src: url('./font/FKGroteskSemiMonoTrial-Regular.woff2') format('woff2');
  src: url('./font/FKGroteskSemiMonoTrial-Regular.woff') format('woff');
}

@font-face {
  font-family: 'FKGroteskNeueTrial-Bold';
  src: url('./font/FKGroteskNeueTrial-Bold.woff2') format('woff2');
  src: url('./font/FKGroteskNeueTrial-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Menlo-Regular';
  src: url('./font/Menlo-Regular_RadioClub.woff2') format('woff2');
  src: url('./font/Menlo-Regular_RadioClub.woff') format('woff');
}

@font-face {
  font-family: 'AppleChancery';
  src: url('./font/AppleChancery.woff') format('woff');
}

:lang(ko) {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

:lang(zh) {
  font-family: "Noto Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}



/* text: drag color ================================================ */
::selection {
  color: white;
  text-shadow: 0 0px 6px yellow;
  text-decoration: none;
  /* color: #000000 !important;
  background: #ffffff !important; */
}

/* Code for Firefox */
::-moz-selection { 
  color: white;
  text-shadow: 0 0px 6px yellow;
  text-decoration: none;
  /* color: #000000 !important;
  background: #ffffff !important; */
}


html, body {
  font-family: 'FKGroteskMonoTrial-Regular', 'Noto Sans KR', 'Noto Sans SC', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

h1 {
  margin-block-start: 0;
  margin-block-end: 0.67em;
  font-family: 'ReadyActive-light';
  font-size: 92px;
}