/* ========================================================== */
/* Default */
/* ========================================================== */
html, body {
  height: 100%;
  margin: 0; 
  padding: 0; 
  overflow: hidden;
  touch-action: none;
  -ms-touch-action: none;
}

::-webkit-scrollbar { 
  width: 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;
}

button { 
  border: none;
  background: none;
  cursor: pointer;
  font-size: 0;
  -webkit-text-fill-color: black;
  color: black;
  text-shadow: rgb(255, 255, 255) 0px 0px 6px;
}


/* ========================================================== */
/* BG */
/* ========================================================== */
.floater {
  opacity: 0;
  position: absolute;
  transform-style: preserve-3d;
  transition: opacity 0.5s linear;
  pointer-events: none;
  z-index: -1;
  font-family: 'ReadyActive-light';
  white-space: nowrap;
  font-size: 200px;
  color: white;
}


/* ========================================================== */
/* Book: Layout */
/* ========================================================== */
.book {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}


#pages-scale {
  position: absolute;
  top: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 100px);
  border: 2px solid white;

  display: flex;
  align-items: center;
  justify-content: center;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /* position: relative;
  width: 100%;
  height: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center; */
}


#cover-front {
  display: none;
  /* position: absolute;
  width: 240px;
  padding: 20px; */
}

#cover-back {
  display: none;
  /* position: absolute;
  width: 240px;
  padding: 20px; */
}


/* ========================================================== */
/* Pages */
/* ========================================================== */
#pages { 
  position: relative;
  padding: 20px 20px 40px 20px;
  /* display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
  display: flex;
  flex-direction: column;
  align-items: center;
  transform-origin: center center;
  gap: 5px;
  /* border: 2px solid white; */
  /* width: 240px;
  height: 400px; */
  overflow-y: auto;
  overflow-x: hidden;
  /* background: linear-gradient(0deg, rgb(255 255 255 / 30%) 0%, rgba(255, 255, 255, 0.4) 65%); */
  /* backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); */
  /* box-shadow: inset 0 0 0 200px rgb(255 255 255 / 15%); */
}

.line {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.letter {
  min-width: 10px;
  height: 28px;
  line-height: 28px;
  border: 1px solid;
  outline: none;
  font-family: 'FKGroteskMonoTrial-Regular', 'Noto Sans KR', 'Noto Sans SC', sans-serif;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
}

.letter-selected {
  /* outline: none; */
  /* border: 1px solid yellow !important; */
  /* background: black !important;
  color: transparent !important; */
}


/* ========================================================== */
/* Side: Pre/Next Buttons */
/* ========================================================== */


/* ========================================================== */
/* Bottom: Menu */
/* ========================================================== */
/* #controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
} */

input[type="range"] {
  position: fixed;
  bottom: 65px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: calc(100% - 20px);
  height: 3px;
  margin: 0;
  /* border: 2px inset; */
  /* border-radius: 2px; */
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  -webkit-transition: .2s;
  transition: .2s;
  
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: white;
  cursor: pointer;
  filter: drop-shadow(0 0 2px white);
  border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: white;
  cursor: pointer;
  filter: drop-shadow(0 0 2px black);
  border-radius: 50%;
}

#pageSlider {
  flex: 1;
}


#pageIndicator { 
  display: inline-block;
  position: absolute;
  bottom: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 10px;
  font-family: 'FKGroteskNeueTrial-Bold';
  font-size: 15px;
  color: black;
}

#saveBtn {
  position: fixed; 
  bottom: 5px; 
  right: 10px; 
  padding: 10px 0 10px 10px;
  font-family: 'FKGroteskNeueTrial-Bold';
  font-size: 15px;
  z-index: 3;
}


/* ========================================================== */






/* input[type="text"] { 
  margin: 0; 
  padding: 0;
  width: 16px;
  height: 28px;
  box-sizing: border-box; 
  text-transform: uppercase;
  font-family: 'FKGroteskMonoTrial-Regular', 'Noto Sans KR', 'Noto Sans SC', sans-serif;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  text-align: center;

  border-radius: 0; 
  -webkit-appearance: none;
  appearance: none;
} */







